*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #f0f0f0;
}

.suggestions{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    padding-bottom: 5px;
}

.suggestions__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.suggestions__header > div:first-child{
    font-weight: bold;
    font-size: 13px;
}

.suggestions__header > div:last-child{
    font-size: 13px;
    color: #00a6ff;
    cursor: pointer;
}


/* carousel */
.suggestions__users{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    scroll-snap-type: x mandatory;
    padding: 5px;
    scroll-padding-left: 5px;
    scroll-padding-right: 5px;
    overflow-x: scroll;
}

.suggestions__users::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

.suggestions__users > div:first-child{
    margin-left: 100px;
}

/* users */
.users{
    width: 150px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px #8080805a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    row-gap: 5px;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
}

.users__img > img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 3px #80808028;
}

.users__name{
    width: 100%;
    text-align: center;
    word-break: break-word;
}

.users__name > span{
    font-size: 11.5px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.users__followers{
    width: 100%;
    text-align: center;
}

.users__followers > span{
    font-size: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #565656;
}

.users__btn-follow{
    width: 100%;
}

.users__btn-follow > button{
    width: 100%;
    height: 20px;
    border-radius: 3px;
    background: #006eff;
    color: #fff;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 11.5px;
}

.btn-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    color: #414141;
    font-size: 16px;
    background: transparent;
}

.btn-close:hover{
    background: #c7c7c758;
}
