*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #38529a;
    padding: 0 20px;
}

/*  */
.profile{
    height: 45px;
    padding: 5px 10px 5px 5px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.profile > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.profile:hover{
    background: #5d7bce9d;
}


/*  */
.navbar__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar__btns > input{
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}

.navbar__btns > i{
    position: absolute;
    font-size: 20px;
    pointer-events: none;
    color: #fff;
}

.navbar__btns > input:checked ~ .send{
    opacity: 1;
    pointer-events: all;
}

.navbar__btns > .send{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0000005d;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.navbar__btns > .send > .send__card{
    width: 90%;
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 2px 2px 5px gray;
}

.send__card > div{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar__btns > .send > .send__card > div > span{
    font-weight: bold;
}

.navbar__btns > .send > .send__card > a{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: #38529a;
    transition: all .2s;
}

.navbar__btns > .send > .send__card > a:hover{
    background: #3c57a2;
}
